

body {
    margin: 2vw;
    font-family: 'Oxygen', sans-serif;
}

header {
    color: white;
    background: linear-gradient(to right, rgb(3, 100, 210), rgb(45, 8, 137));
    text-align: center;
    padding: 10px;
}

main {
    display: block;
    width: fit-content;
    height: 400px;
}

#searchForm {
    margin: 2vw;
    max-width: 20em;

}

h2 {
    font-size: 1.75rem;
    margin: .5em;
}

#searchForm input {
    width: 100%;
    padding: .5em;
    margin: .5em;
    border: 1px solid #ccc;
    border-radius: 4px;

}

#past {
    height: relative;
}
#searchBtn, #past button  {
    background: linear-gradient(to right, rgb(3, 100, 210), rgb(45, 8, 137));
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    width: 100%;
}


.list-group-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    
}

form {
    display: flex;
    flex-direction: column;
    width: 17em;
}

#curWeather, .future {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px 0 0 0;
}

input {
    margin: .5em;
    border-radius: 5px;
}

ul {
    width: 15em;
}

.card {
    background: rgb(83, 130, 250);
    border-radius: 5px;
    border: 2px solid black;
    margin: .5em;
}

#curWeather {
    height: 35vw;
    min-width: 40vw;
    border: 2px solid black ;
}

#future {

}